<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Create a Gossip </title>
    <style type="text/css">body{margin:40px auto;max-width:500px;line-height:1.6;font-size:18px;color:#444;padding:0
    10px;background-color: gold;}h1,h2{line-height:1.4}</style>
  </head>
  <body>
    <h1> ğ—–ğ—¿ğ—²ğ—®ğ˜ğ—² ğ—® ğ—šğ—¼ğ˜€ğ˜€ğ—¶ğ—½ ! </h1>
    <p> ğ—¦ğ˜‚ğ—¯ğ—ºğ—¶ğ˜ ğ˜†ğ—¼ğ˜‚ğ—¿ ğ—´ğ—¼ğ˜€ğ˜€ğ—¶ğ—½ ğ—¯ğ˜† ğ˜‚ğ˜€ğ—¶ğ—»ğ—´ ğ˜ğ—µğ—¶ğ˜€ ğ—»ğ—²ğ˜…ğ˜ ğ—³ğ—¼ğ—¿ğ—º: </p>
    <form action=" /gossips/new/" method="POST">
      ğ—˜ğ—»ğ˜ğ—²ğ—¿ ğ—µğ—²ğ—¿ğ—² ğ˜†ğ—¼ğ˜‚ğ—¿ ğ—»ğ—®ğ—ºğ—²:  <input type='text' name='gossip_author'/><br/>
      ğ—˜ğ—»ğ˜ğ—²ğ—¿ ğ˜†ğ—¼ğ˜‚ğ—¿ ğ—´ğ—¼ğ˜€ğ˜€ğ—¶ğ—½ ğ—µğ—²ğ—¿ğ—²: <input type='text' name='gossip_content'/><br/>
      <input type='submit'/>
    </form>
  </body>
</html>
