<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Create a Gossip </title>
  </head>
  <body>
    <h1> π—–π—Ώπ—²π—®ππ—² π—® π—π—Όπ€π€π—¶π—½ ! </h1>
    <p> π—¦π‚π—―π—Ίπ—¶π π†π—Όπ‚π—Ώ π—΄π—Όπ€π€π—¶π—½ π—―π† π‚π€π—¶π—»π—΄ ππ—µπ—¶π€ π—»π—²π…π π—³π—Όπ—Ώπ—Ί: </p>
    <form action=" /gossips/new/" method="POST">
      π—π—»ππ—²π—Ώ π—µπ—²π—Ώπ—² π†π—Όπ‚π—Ώ π—»π—®π—Ίπ—²:  <input type='text' name='gossip_author'/><br/>
      π—π—»ππ—²π—Ώ π†π—Όπ‚π—Ώ π—΄π—Όπ€π€π—¶π—½ π—µπ—²π—Ώπ—²: <input type='text' name='gossip_content'/><br/>
      <input type='submit'/>
    </form>
  </body>
</html>
